<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157786824435-relopdefou2s6lfko7d1hn87noa1b01l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157786824435-relopdefou2s6lfko7d1hn87noa1b01l</string>
	<key>API_KEY</key>
	<string>AIzaSyCBr_R1yqoGj6w0elqEihTwxv0S_o_1BDk</string>
	<key>GCM_SENDER_ID</key>
	<string>157786824435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdsu.ThoughtStack</string>
	<key>PROJECT_ID</key>
	<string>thoughtstack-91089</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughtstack-91089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157786824435:ios:6fe5b5ef0076b430406186</string>
	<key>DATABASE_URL</key>
	<string>https://thoughtstack-91089.firebaseio.com</string>
</dict>
</plist>